/AUDUSD.csv
/CHFUSD.csv
/CL.csv
/DAX.csv
/EURUSD.csv
/FCHI.csv
/FTSE.csv
/GBPUSD.csv
/GC.csv
/GOOG.csv
/GSPC.csv
/HG.csv
/JPM.csv
/JPYUSD.csv
/N225.csv
/NSEI.csv
/NVDA.csv
/RTX.csv
/SI.csv
/SS.csv
/TSLA.csv
/UNH.csv
/VIX.csv
/XOM.csv
